@import '../core/mixins.scss';
@import '../core/variables.scss';

.header {
background-image: url("./src/images/finalcut.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 60vh;
}