@import '../core/mixins.scss';
@import '../core/variables.scss';

.section{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.imagendetail{
    width: 15rem;
    border-radius: 10px;
    border: solid 2px #0f4475;
    margin-top: 1rem;
    @include tablet{
        width: 20rem;
        border-radius: 10px;
        border: solid 2px #0f4475;
    }
    @include desktop{
        width: 25rem;
    }
}

.movies {
    width: 20rem;
    height: 40rem;
    border: solid 0.2rem #0f4475;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    @include boxGlow(#fff384);
    background-color: #3782a1;
    @include tablet{
        width: 60rem;
        height: 45rem;
        border: solid 0.5rem #0f4475;
        flex-direction: row;
        justify-content: center;
    }
    @include desktop{
        width: 90rem;
        height: 45rem;
    }
    &__img{
        width: 15rem;
        border-radius: 10px;
        border: solid 1px #0f4475;
        @include tablet{
            width: 200px;
            border-radius: 10px;    
            border: solid 2px #0f4475;
        }
    }

    &__title{
        @include textStyle($tilt, 2rem, $white);
        padding-top: 0.5rem;
        @include tablet{
            @include textStyle($tilt, 3.5rem, $white);
            padding-top: 2rem;
        }
    }
    &__quote{
        @include textStyle($tilt, 1rem, $white);
        padding-top: 2rem;
        @include tablet{
            @include textStyle($tilt, 3rem, $white);
        }
    }
    &__year{
        @include textStyle($tilt, 1rem, $white);
        padding-top: 2rem;
        @include tablet{
            @include textStyle($tilt, 3rem, $white);
        }
    }
    &__director {
        @include textStyle($tilt, 1rem, $white);
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include tablet{
            @include textStyle($tilt, 3rem, $white);
        }
    }
    &__audio{
        @include textStyle($tilt, 1rem, $white);
        padding-top: 2rem;
        @include tablet{
            @include textStyle($tilt, 3rem, $white);
        } 
    }
}

.linkBack {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 3.5rem;
    color: red;
  }
  
  .linkBack a {
    text-decoration: none;
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 5px;
  }

.notFound{
    @include textStyle($tilt, 1.5rem, $red);
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 100vh;
    @include tablet{
        @include textStyle($tilt, 5rem, $red);
    }
}