@import '../core/mixins.scss';
@import '../core/variables.scss';

.movie {
    &__message{
        &--notFound{
            @include textStyle($tilt, 1.5rem, $red);
            text-align: center;
            padding-bottom: 100vh;
            @include tablet{
                @include textStyle($tilt, 2.5rem, $red);
            }
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 4rem;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}